* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-div {
    margin: 44px 596px 0 76px;
}

.nav-header {
    padding-right: 23px;
}

a {
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    opacity: 0.5;
}

a:active {
    opacity: 0.2;
}

button {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    font-size: 24px;
    padding: 6px 21px;
    background: #665AE1;
    border-radius: 20.5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.2;
}

section {
    display: inline-block;
}

img {
    width: 568px;
    height: 500px;
    cursor: pointer;
}

.first-section {
    margin: 144px 86px 183px 125px;
}

h1 {
    font-weight: 900;
    color: #515151;
    font-size: 100px;
}

h2 {
    font-weight: 500;
    color: #515151;
    font-size: 58px;
    margin-bottom: 32px;
}

p {
    width: 515px;
    height: 87px;
    font-weight: 400;
    color: #848484;
    font-size: 24px;
    margin-bottom: 60px;
}

.second-section {
    margin: 144px 146px 372px 86px;
    position: absolute;
}

.button-ex {
    color: #000000;
    background: #ADFF00;
    font-size: 28px;
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 46px;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}

.button-ex:hover {
    opacity: 0.5;
}

.button-ex:active {
    opacity: 0.2;
}


@media screen and (max-width: 900px) {
    nav {
        display: none;
    }

    p {
        display: none;
    }

    section {
        display: block;
    }

    img {
        width: 354px;
        height: 317px;
        cursor: pointer;
    }

    .first-section {
        margin: 149px 22px 24px 22px;
    }

    .second-section {
        margin: 24px 63px 0px 64px;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
    }

    h2 {
        width: 232px;
        height: 37px;
        font-size: 30px;
        margin-top: 7px;
    }

    .button-ex {
        height: 64px;
        width: 239px;
        left: 0px;
        top: 0px;
        margin-bottom: 133px;
    }
}