* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-div {
    margin: 44px 596px 0 76px;
}

.nav-header {
    padding-right: 23px;
}

a {
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    text-decoration: none;
    text-transform: uppercase;
}

button {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    font-size: 24px;
    padding: 6px 21px;
    background: #665AE1;
    border-radius: 20.5px;
    cursor: pointer;
}

section {
    display: inline-block;
}

img {
    width: 568px;
    height: 500px;
}

.first-section {
   margin: 144px 86px 183px 125px;
}

h1 {
    font-weight: 900;
    color: #515151;
    font-size: 100px;
}

h2 {
    font-weight: 500;
    color: #515151;
    font-size: 58px;
    margin-bottom: 32px;
}

p {
    width: 515px;
    height: 87px;
   font-weight: 400;
   color: #848484; 
   font-size: 24px;
   margin-bottom: 60px;
}

.second-section {
    margin: 144px 146px 372px 86px;
    position: absolute;
}

.button-ex {
    color: #000000;
    background: #ADFF00;
    font-size: 28px;
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 46px;
    cursor: pointer;
    filter:drop-shadow(0 4px 4px rgba(0,0,0,0.25))
}